# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
build
out

# Env files
.env
.env.local
.env.*.local

# Turbo
.turbo

# Prisma
*.db
*.db-journal

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Vercel
.vercel
